.trading-table-wrapper{
    max-width: 500px;
    margin: 10px;
}

.ant-table-cell, .ant-table-title{
    padding: 5px !important;
}

.position-list-table{

}

.position-table-title-control {
    display: flex;
    justify-content: space-between;
}