.column-basket-on-off {
  cursor: pointer;
}

.column-basket-on-off:active {
  cursor: default;
}

.account-settings-default-lots-input {
  width: 100% !important;
  max-width: 60px !important;
}

.account-status-dead {
  color: red;
  font-weight: bolder;
}

.account-status-live {
  color: greenyellow;
}

.column-default-lots {
  max-width: 60px;
}

.column-default-lots .ant-input-number {
  max-width: 70px;
}